@use '@/shared/ui/styles/index.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
  padding: 7rem;

  @media (max-width: $breakpoint-tablet) {
    padding: 7rem 1rem;
  }

  .title {
    padding-bottom: 2rem;
  }

  .resourcesList {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1rem;
    li {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
}
