.iconGallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  grid-template-areas:
    'icon1 icon2 icon3 icon4 icon5'
    '. icon6 icon7 icon8 .';
  gap: 1rem;

  @media (max-width: 768px) {
    gap: 0.5rem;
  }

  > :nth-child(1) {
    grid-area: icon1;
  }
  > :nth-child(2) {
    grid-area: icon2;
  }
  > :nth-child(3) {
    grid-area: icon3;
  }
  > :nth-child(4) {
    grid-area: icon4;
  }
  > :nth-child(5) {
    grid-area: icon5;
  }
  > :nth-child(6) {
    grid-area: icon6;
  }
  > :nth-child(7) {
    grid-area: icon7;
  }
  > :nth-child(8) {
    grid-area: icon8;
  }

  > * {
    width: 64px;
    height: 64px;
    justify-self: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    @media (max-width: 768px) {
      width: 40px;
      height: 40px;
    }
  }
}
