/* Bitter Variable Font */
@font-face {
  font-family: 'Bitter';
  src: url('./bitter/Bitter/Bitter-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bitter';
  src: url('./bitter/Bitter/Bitter-Italic-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* Inter Variable Font */
@font-face {
  font-family: 'Inter';
  src: url('./bitter/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./bitter/Inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* JetBrains Mono Variable Font */
@font-face {
  font-family: 'JetBrains Mono';
  src: url('./bitter/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf')
    format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('./bitter/JetBrains_Mono/JetBrainsMono-Italic-VariableFont_wght.ttf')
    format('truetype-variations');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
