@import '@/shared/assets/fonts/fonts.css';
@import '@/shared/ui/styles/index.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: $background-color-primary;
  color: $color-text-primary;
  font-family: $font-family-primary;
  font-weight: $font-weight-regular;
  font-size: 16px; // Mobile-first базовый размер
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: $breakpoint-desktop) {
  html,
  body {
    font-size: 18px;
  }
}

#root {
  width: 100%;
  min-height: 100vh;
}
