$font-family-primary: 'Bitter', serif;
$font-family-secondary:
  'Inter',
  system-ui,
  -apple-system,
  sans-serif;
$font-family-mono: 'JetBrains Mono', monospace;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

$font-size-base: 1rem;
$font-size-lg: 1.125rem;
$font-size-xl: 1.25rem;
$font-size-2xl: 1.5rem;
$font-size-3xl: 2.25rem;

$color-text-primary: #a3d9b1;
$color-text-secondary: #ebf5ee;
$color-text-tertiary: #b5bdb7;

$background-color-primary: #1a202c;
$background-color-secondary: #242c3a;
$background-color-tertiary: #131720;

$border-color-primary: #434e62;
